@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "poppins";
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.react-calendar__navigation__prev-button {
    margin-left: 4rem;
}
.react-calendar__navigation__next-button {
    margin-right: 4rem;
}

.react-calendar__tile--now {
    background-color: #ff5252;
    color: #fff;
    font-weight: bold;
}

.react-calendar__tile {
    margin: 0 0.2rem;
    width: 0.5rem;
    height: 2rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

.react-calendar__tile:hover {
    background-color: #ff5252;
    color: #fff;
}
